body {
  background-color: #B4AFA8;
  font-family: 'Garamond', serif;
}

h1, h2 {
  color: #FEFEF2;
  font-weight: normal;
  text-align: center;
}

p {
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #FEFEF2;
}

a:hover {
  cursor: crosshair;
  color: #818181;
}

img {
  padding: 2px;
  border: 2px solid #FEFEF2;
  background-color: #303030;
}

.interface {
  text-align: center;
  background-color: #303030;
  border: 2px solid #FEFEF2;
  padding: 30px;
  text-align: center;
  margin-top: 18%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  color: #FEFEF2;
  max-width: 700px;
}

.section {
  background-color: #303030;
  border: 2px solid #FEFEF2;
  padding: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #FEFEF2;
  max-width: 700px;
}

#about, #projects, #contact {
  margin: 10px;
}

#home:hover, #about:hover, #projects:hover, #contact:hover {
  cursor: crosshair;
  color: #818181
}
