* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  background-color: #fff;
}

.container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.header {
  height: 100vh;
  padding: 2vw 0vw;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  overflow-x: hidden;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background: url('./conan-bonnie.jpg') no-repeat center/cover;
  width: 120%;
  height: 100vh;
  opacity: 0.15;
}

.header-line {
  margin: 2px 0px;
  font-size: 2vw;
  color: #00330d;
}

.name {
  font-size: 5vw;
  margin-bottom: 7px;
}

.content {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  color: #fff;
  scroll-snap-align: start;
}

.segment {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 0.75rem;
  text-align: center;
}

.segment-header {
  margin: 0px;
}

p {
  max-width: 300px;
  font-size: 1.3em;
  margin: 20px 15px 20px 15px;
}

.top-line {
  background-color: #1b8937;
}

.bottom-line {
  background-color: #005415;
}

.button {
  font-size: 1.3em;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}

.resume-image {
  width: 60px;
}

a:hover, a:active {
  color: #9de0ae;
}

a:active {
  position: relative;
  top: 1px;
}

@media screen and (max-width: 600px) {
  .portfolio {
    top: 90vh;
    right: -2rem;
  }

  .portfolio__button {
    transform: rotate(-90deg);
  }

  .header {
    font-size: 3vw;
  }

  .header-line {
    font-size: 1.15rem;
  }

  .name {
    font-size: 2rem;
  }

  .content {
    height: auto;
    margin: 0px;
    flex: 1.5;
  }

  .segment {
    height: 100vh;
    width: 100%;
    font-size: 4vw;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid;
    scroll-snap-align: start;
  }

  .resume-image {
    width: 100px;
  }
}
