body {
  background-color: #EFF0DF;
  font-family: 'Garamond';
}

h1, h2 {
  color: #010101;
  font-weight: normal;
  text-align: center;
}

.interface {
  text-align: center;
  margin-top: 20%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

#about, #projects, #contact {
  padding: 10px;
}

#home:hover, #about:hover, #projects:hover, #contact:hover {
  cursor: crosshair;
  color: #818181
}
