<div class="contact-group">
    <div class="contact-group-title">
        <h2>Let's Connect</h2>
    </div>
    <form class="contact-form" action="https://formspree.io/f/mvojobye" method="POST">
        <input class="contact-form-item" type="email" name="email" placeholder="Email*">
        <input class="contact-form-item" name="subject" placeholder="Subject*">
        <textarea class="contact-form-item contact-message" name="message" placeholder="Message*"></textarea>
        <button class="page-button" type="submit">Send</button>
    </form>
</div>