---
layout: base
---
<div class="home-top">
    <div class="home-section-half">
        {% include navigation.html %}
        <img id="sun" src={{ site.sun_icon | relative_url }} height="345" width="345" />
    </div>
    <div class="home-section-half">
        <h1 class="title-header">Derek Wallace</h1>
        <div>{{ page.description }}</div>
    </div>
</div>
<div id="portfolio" class="home-lower-section portfolio-section">
    <h2 class="portfolio-header">Portfolio</h2>
    {% include portfolio_grid.html %}
    {% if site.portfolio_items.size > 4 %}
        <a class="page-button" href="https://github.com/dswalla">See more on my GitHub</a>
    {% endif %}
</div>
<div id="contact" class="home-lower-section contact-section">
    {% include contact_form.html %}
</div>